In [1]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [ ]:
!hdfs dfs -cat /input/covid-data/HIST_PAINEL_COVIDBR_2020_Parte1_06jul2021.csv

In [6]:
!hdfs dfs -ls /user/elvis/projeto-covid/spark

Found 4 items
-rw-r--r--   3 root supergroup   62492959 2022-08-07 00:12 /user/elvis/projeto-covid/spark/HIST_PAINEL_COVIDBR_2020_Parte1_06jul2021.csv
-rw-r--r--   3 root supergroup   76520681 2022-08-07 00:13 /user/elvis/projeto-covid/spark/HIST_PAINEL_COVIDBR_2020_Parte2_06jul2021.csv
-rw-r--r--   3 root supergroup   91120916 2022-08-07 00:13 /user/elvis/projeto-covid/spark/HIST_PAINEL_COVIDBR_2021_Parte1_06jul2021.csv
-rw-r--r--   3 root supergroup    3046774 2022-08-07 00:13 /user/elvis/projeto-covid/spark/HIST_PAINEL_COVIDBR_2021_Parte2_06jul2021.csv

In [2]:
df_2020_Parte1 = spark.read.csv('/user/elvis/projeto-covid/spark/HIST_PAINEL_COVIDBR_2020_Parte1_06jul2021.csv', sep=';', header=True)

In [3]:
df_2020_Parte1.columns

['regiao',
 'estado',
 'municipio',
 'coduf',
 'codmun',
 'codRegiaoSaude',
 'nomeRegiaoSaude',
 'data',
 'semanaEpi',
 'populacaoTCU2019',
 'casosAcumulado',
 'casosNovos',
 'obitosAcumulado',
 'obitosNovos',
 'Recuperadosnovos',
 'emAcompanhamentoNovos',
 'interior/metropolitana']

In [4]:
df_2020_Parte1.count()

714481

In [5]:
df_2020_Parte2 = spark.read.csv('/user/elvis/projeto-covid/spark/HIST_PAINEL_COVIDBR_2020_Parte2_06jul2021.csv', sep=';', header=True)

In [6]:
df_2020_Parte2.count()

859708

In [7]:
df_2021_Parte1 = spark.read.csv('/user/elvis/projeto-covid/spark/HIST_PAINEL_COVIDBR_2021_Parte1_06jul2021.csv', sep=';', header=True)

In [8]:
df_2021_Parte1.columns

['regiao',
 'estado',
 'municipio',
 'coduf',
 'codmun',
 'codRegiaoSaude',
 'nomeRegiaoSaude',
 'data',
 'semanaEpi',
 'populacaoTCU2019',
 'casosAcumulado',
 'casosNovos',
 'obitosAcumulado',
 'obitosNovos',
 'Recuperadosnovos',
 'emAcompanhamentoNovos',
 'interior/metropolitana']

In [9]:
df_2021_Parte1.count()

1017040

In [10]:
df_2021_Parte2 = spark.read.csv('/user/elvis/projeto-covid/spark/HIST_PAINEL_COVIDBR_2021_Parte2_06jul2021.csv', sep=';', header=True)

In [11]:
df_2021_Parte2.count()

33714

In [12]:
df_2021_Parte2.columns

['regiao',
 'estado',
 'municipio',
 'coduf',
 'codmun',
 'codRegiaoSaude',
 'nomeRegiaoSaude',
 'data',
 'semanaEpi',
 'populacaoTCU2019',
 'casosAcumulado',
 'casosNovos',
 'obitosAcumulado',
 'obitosNovos',
 'Recuperadosnovos',
 'emAcompanhamentoNovos',
 'interior/metropolitana']

In [13]:
33714 + 1017040 + 859708 + 714481

2624943

In [14]:
df_2020_Parte1.limit(4).toPandas()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,None,None,76,None,None,None,2020-02-25,9,210147125,0,0,0,0,None,None,None
1,Brasil,None,None,76,None,None,None,2020-02-26,9,210147125,1,1,0,0,None,None,None
2,Brasil,None,None,76,None,None,None,2020-02-27,9,210147125,1,0,0,0,None,None,None
3,Brasil,None,None,76,None,None,None,2020-02-28,9,210147125,1,0,0,0,None,None,None

In [16]:
df_2020_Parte1.filter(col('municipio') != 'None').limit(5).toPandas()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Norte,RO,Alta Floresta D'Oeste,11,110001,11005,ZONA DA MATA,2020-03-27,13,22945,0,0,0,0,None,None,0
1,Norte,RO,Alta Floresta D'Oeste,11,110001,11005,ZONA DA MATA,2020-03-28,13,22945,0,0,0,0,None,None,0
2,Norte,RO,Alta Floresta D'Oeste,11,110001,11005,ZONA DA MATA,2020-03-29,14,22945,0,0,0,0,None,None,0
3,Norte,RO,Alta Floresta D'Oeste,11,110001,11005,ZONA DA MATA,2020-03-30,14,22945,0,0,0,0,None,None,0
4,Norte,RO,Alta Floresta D'Oeste,11,110001,11005,ZONA DA MATA,2020-03-31,14,22945,0,0,0,0,None,None,0

In [1]:
schema = 'regiao STRING, estado STRING, municipio STRING, coduf STRING, codmun STRING, codRegiaoSaude STRING, nomeRegiaoSaude STRING, data STRING, semanaEpi INT, populacaoTCU2019 BIGINT, casosAcumulado BIGINT, casosNovos BIGINT, obitosAcumulado BIGINT, obitosNovos BIGINT, Recuperadosnovos BIGINT, emAcompanhamentoNovos BIGINT, interior/metropolitana BIGINT'

In [2]:
raw_path = '/user/elvis/projeto-covid/spark'

In [3]:
stage_path = '/user/elvis/projeto-covid/stage'

In [4]:
options_dic = {
    'sep' : ';',
    'header' : 'True',
    'schema' : 'schema',
    'encoding' : 'UTF-8'
}

df_covid = (
    spark.read
    .format('csv')
    .options(**options_dic)
    .load(raw_path)
)

In [5]:
df_covid.limit(5).toPandas()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,None,None,76,None,None,None,2021-01-01,53,210147125,7700578,24605,195411,462,6756284,748883,None
1,Brasil,None,None,76,None,None,None,2021-01-02,53,210147125,7716405,15827,195725,314,6769420,751260,None
2,Brasil,None,None,76,None,None,None,2021-01-03,1,210147125,7733746,17341,196018,293,6813008,724720,None
3,Brasil,None,None,76,None,None,None,2021-01-04,1,210147125,7753752,20006,196561,543,6875230,681961,None
4,Brasil,None,None,76,None,None,None,2021-01-05,1,210147125,7810400,56648,197732,1171,6963407,649261,None

In [21]:
df_covid.count()

2624943

In [22]:
df_covid.select('regiao').distinct().limit(50).toPandas()

         regiao
0      Nordeste
1           Sul
2       Sudeste
3  Centro-Oeste
4        Brasil
5         Norte

In [23]:
(
    df_covid
    .select('regiao')
    .groupBy('regiao')
    .count()
    .toPandas()
)

         regiao   count
0      Nordeste  846483
1           Sul  559092
2       Sudeste  782816
3  Centro-Oeste  221015
4        Brasil     500
5         Norte  215037

In [24]:
df_covid.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- municipio: string (nullable = true)
 |-- coduf: string (nullable = true)
 |-- codmun: string (nullable = true)
 |-- codRegiaoSaude: string (nullable = true)
 |-- nomeRegiaoSaude: string (nullable = true)
 |-- data: string (nullable = true)
 |-- semanaEpi: string (nullable = true)
 |-- populacaoTCU2019: string (nullable = true)
 |-- casosAcumulado: string (nullable = true)
 |-- casosNovos: string (nullable = true)
 |-- obitosAcumulado: string (nullable = true)
 |-- obitosNovos: string (nullable = true)
 |-- Recuperadosnovos: string (nullable = true)
 |-- emAcompanhamentoNovos: string (nullable = true)
 |-- interior/metropolitana: string (nullable = true)

### 3. Criar as 3 vizualizações pelo Spark com os dados enviados para o HDFS:

In [94]:
# Visualizando os dados
(
    df_covid
    .groupBy('data', 'regiao')
    .agg(count(col('regiao')))
    .filter(col('data') == '2021-07-06')
    #.orderBy(col('data').desc())
    .show(10)
)

+----------+------------+-------------+
|      data|      regiao|count(regiao)|
+----------+------------+-------------+
|2021-07-06|      Brasil|            1|
|2021-07-06|     Sudeste|         1676|
|2021-07-06|         Sul|         1197|
|2021-07-06|Centro-Oeste|          473|
|2021-07-06|    Nordeste|         1812|
|2021-07-06|       Norte|          460|
+----------+------------+-------------+

### Cartão 1: Casos Recuperados e Em acompanhamento

In [149]:
# Cartão 1: Casos Recuperados e Em acompanhamento
# a) Casos Recuperados
# b) Em acompanhamento
print('Cartão 1 - Casos Recuperados e Em acompanhamento:')

df_recuperados_emAcompanhamento = (
    df_covid
    .select(col('Recuperadosnovos').alias("Casos Recuperados"), col('emAcompanhamentoNovos').alias("Em acompanhamento"))
    #.filter((col('data') == '2021-07-06')
    .filter(col('regiao') == 'Brasil')
    .orderBy(col('data').desc())
    .limit(1)
)
df_recuperados_emAcompanhamento.show()

Cartão 1 - Casos Recuperados e Em acompanhamento:
+-----------------+-----------------+
|Casos Recuperados|Em acompanhamento|
+-----------------+-----------------+
|         17262646|          1065477|
+-----------------+-----------------+

### 4. Salvar a primeira visualização como tabela Hive

In [154]:
# Salvando a primeira visualização como tabela Hive
(
    df_recuperados_emAcompanhamento
    .withColumnRenamed('Casos Recuperados', "casos_recuperados")
    .withColumnRenamed('Em acompanhamento', "em_acompanhamento")
    .write
    .saveAsTable("recuperados_acompanhamento")
)

In [157]:
spark.read.parquet("/user/hive/warehouse/recuperados_acompanhamento/").show(5)

+-----------------+-----------------+
|casos_recuperados|em_acompanhamento|
+-----------------+-----------------+
|         17262646|          1065477|
+-----------------+-----------------+

### Cartão 2: Casos confirmados

In [ ]:
# Cartão 2: Casos confirmados
# c) Acumulado
# d) Casos Novos
# e) Incidências

In [56]:
# Verificando os dados
(
    df_covid
    .select('*')
    #.select('populacaoTCU2019', 'casosAcumulado', 'data', 'regiao')
    #.groupBy('data', 'regiao')
    #.agg(count(col('casosNovos')), sum(col('casosNovos')))
    .filter(col('data') == '2021-07-06')
    .filter(col('regiao') == 'Brasil')
    #.orderBy(col('data').desc())
    #.show(10)
    .toPandas()
)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,None,None,76,None,None,None,2021-07-06,27,210147125,18855015,62504,526892,1780,17262646,1065477,None

In [33]:
df_covid.select('casosAcumulado', 'data', 'regiao').orderBy(col('data').desc()).show(4)

+--------------+----------+--------+
|casosAcumulado|      data|  regiao|
+--------------+----------+--------+
|        405066|2021-07-06|   Norte|
|        322052|2021-07-06|Nordeste|
|        557708|2021-07-06|   Norte|
|        113758|2021-07-06|   Norte|
+--------------+----------+--------+
only showing top 4 rows

In [42]:
# c) Acumulado
print('Cartão 2 - Acumulado:')
(
    df_covid
    .select(col('casosAcumulado').alias("Acumulado"))
    #.filter((col('data') == '2021-07-06')
    .filter(col('regiao') == 'Brasil')
    .orderBy(col('data').desc())
    .show(1)
)

Cartão 2: Acumulado:
+---------+
|Acumulado|
+---------+
| 18855015|
+---------+
only showing top 1 row

In [50]:
# Verificando os dados Casos Novos
(
    df_covid
    .select('casosNovos', 'data', 'regiao')
    .groupBy('data', 'regiao')
    .agg(count(col('casosNovos')), sum(col('casosNovos')))
    .filter(col('data') == '2021-07-06')
    #.orderBy(col('data').desc())
    .show(10)
)

+----------+------------+-----------------+---------------+
|      data|      regiao|count(casosNovos)|sum(casosNovos)|
+----------+------------+-----------------+---------------+
|2021-07-06|      Brasil|                1|        62504.0|
|2021-07-06|     Sudeste|             1676|        62182.0|
|2021-07-06|         Sul|             1197|        22800.0|
|2021-07-06|Centro-Oeste|              473|        11492.0|
|2021-07-06|    Nordeste|             1812|        23290.0|
|2021-07-06|       Norte|              460|         5244.0|
+----------+------------+-----------------+---------------+

In [51]:
# d) Casos Novos
print('Cartão 2 - Casos Novos:')
(
    df_covid
    .select(col('casosNovos').alias("Casos Novos"))
    #.filter((col('data') == '2021-07-06')
    .filter(col('regiao') == 'Brasil')
    .orderBy(col('data').desc())
    .show(1)
)

Cartão 2 - Casos Novos:
+-----------+
|Casos Novos|
+-----------+
|      62504|
+-----------+
only showing top 1 row

In [71]:
# e) Incidências
print('Cartão 2 - Incidências:')
(
    df_covid
    .withColumn('Incidências*', format_number(col('casosAcumulado') / (col('populacaoTCU2019') / 100000), 1))
    #.withColumn('Incidências', format_number(34011173 / (col('populacaoTCU2019') / 100000), 1))
    #.filter((col('data') == '2021-07-06')
    .filter(col('regiao') == 'Brasil')
    .orderBy(col('data').desc())
    .select('Incidências*')
    .show(1)
)

Cartão 2 - Incidências:
+-----------+
|Incidências|
+-----------+
|    8,972.3|
+-----------+
only showing top 1 row

In [159]:
df_casos_confirmados = (
    df_covid
    .withColumn('Incidências*', format_number(col('casosAcumulado') / (col('populacaoTCU2019') / 100000), 1))
    .filter(col('regiao') == 'Brasil')
    .orderBy(col('data').desc())
    .select(col('casosAcumulado').alias("Acumulado"), col('casosNovos').alias("Casos Novos"), 'Incidências*')
    .limit(1)
)
df_casos_confirmados.show()

+---------+-----------+------------+
|Acumulado|Casos Novos|Incidências*|
+---------+-----------+------------+
| 18855015|      62504|     8,972.3|
+---------+-----------+------------+

### 5. Salvar a segunda visualização com formato parquet e compressão snappy

In [166]:
(
    df_casos_confirmados
    .withColumnRenamed('Casos Novos', "casos_novos")
    .write.parquet(
        stage_path + '/casos_confirmados', 
        compression='snappy', 
        mode="overwrite")
)

In [167]:
spark.read.parquet(stage_path + '/casos_confirmados').show()

+---------+-----------+------------+
|Acumulado|casos_novos|Incidências*|
+---------+-----------+------------+
| 18855015|      62504|     8,972.3|
+---------+-----------+------------+

## Cartão 3: Óbitos Confirmados

In [ ]:
# Cartão 3: Óbitos Confirmados
# f) Óbitos Acumulados
# g) Casos Novos
# h) Letalidade
# i) Mortalidade*

In [72]:
# f) Óbitos Acumulados
print('Cartão 3 - Óbitos Confirmados: Óbitos Acumulados')
(
    df_covid
    .select(col('obitosAcumulado').alias("Óbitos acumulados"))
    #.filter((col('data') == '2021-07-06')
    .filter(col('regiao') == 'Brasil')
    .orderBy(col('data').desc())
    .show(1)
)

Cartão 3: Óbitos Acumulados
+-----------------+
|Óbitos acumulados|
+-----------------+
|           526892|
+-----------------+
only showing top 1 row

In [73]:
# g) Casos Novos
print('Cartão 3 - Óbitos Confirmados: Casos Novos')
(
    df_covid
    .select(col('obitosNovos').alias("Casos Novos"))
    #.filter((col('data') == '2021-07-06')
    .filter(col('regiao') == 'Brasil')
    .orderBy(col('data').desc())
    .show(1)
)

Cartão 3: Casos Novos
+-----------+
|Casos Novos|
+-----------+
|       1780|
+-----------+
only showing top 1 row

In [87]:
# h) Letalidade
print('Cartão 3 - Óbitos Confirmados: Letalidade')
(
    df_covid
    .withColumn('Letalidade*', concat( format_number( (col('obitosAcumulado') / (col('casosAcumulado')) * 100), 0), lit(" %")) )
    #.withColumn('Incidências', format_number(34011173 / (col('populacaoTCU2019') / 100000), 1))
    #.filter((col('data') == '2021-07-06')
    .filter(col('regiao') == 'Brasil')
    .orderBy(col('data').desc())
    .select('Letalidade*')
    .show(1)
)

Cartão 3 - Óbitos Confirmados: Letalidade
+-----------+
|Letalidade*|
+-----------+
|        3 %|
+-----------+
only showing top 1 row

In [89]:
# i) Mortalidade*
print('Cartão 3 - Óbitos Confirmados: Mortalidade*')
(
    df_covid
    .withColumn('Mortalidade*', format_number(col('obitosAcumulado') / (col('populacaoTCU2019') / 100000), 1))
    #.withColumn('Mortalidade*', format_number(679939 / (col('populacaoTCU2019') / 100000), 1))
    #.filter((col('data') == '2021-07-06')
    .filter(col('regiao') == 'Brasil')
    .orderBy(col('data').desc())
    .select('Mortalidade*')
    .show(1)
)

Cartão 3 - Óbitos Confirmados: Mortalidade*
+------------+
|Mortalidade*|
+------------+
|       250.7|
+------------+
only showing top 1 row

In [7]:
# Cartão 3: Óbitos Confirmados
print('Cartão 3 - Óbitos Confirmados:')
df_obitos_confirmados = (
    df_covid
    .withColumn('Letalidade*', concat( format_number( (col('obitosAcumulado') / (col('casosAcumulado')) * 100), 0), lit(" %")) )
    .withColumn('Mortalidade*', format_number(col('obitosAcumulado') / (col('populacaoTCU2019') / 100000), 1)) 
    .filter(col('regiao') == 'Brasil')
    .orderBy(col('data').desc())
    .select(col('obitosAcumulado').alias("Obitos acumulados"), col('obitosNovos').alias("Casos Novos"), 'Letalidade*', 'Mortalidade*')
    .limit(1)
)
df_obitos_confirmados.show()

Cartão 3 - Óbitos Confirmados:
+-----------------+-----------+-----------+------------+
|Obitos acumulados|Casos Novos|Letalidade*|Mortalidade*|
+-----------------+-----------+-----------+------------+
|           526892|       1780|        3 %|       250.7|
+-----------------+-----------+-----------+------------+

In [8]:
(
    df_obitos_confirmados
    .withColumnRenamed('Obitos acumulados', "obitos_acumulados")
    .withColumnRenamed('Casos Novos', "casos_novos")
    .write.mode('overwrite')
    .option("header",True)
    .option("delimiter",";")
    .format('csv')
    .save(stage_path + '/obitos_confirmados')
)

### 6. Salvar a terceira visualização em um tópico no Kafka

In [9]:
spark.read.csv(stage_path + '/obitos_confirmados', header=True, sep=";").show()
#spark.read.csv(stage_path + '/obitos_confirmados').show()
#.options(header=True, inferSchema=True, delimiter=";", encoding='UTF-8'), encoding='UTF-8'

+-----------------+-----------+-----------+------------+
|obitos_acumulados|casos_novos|Letalidade*|Mortalidade*|
+-----------------+-----------+-----------+------------+
|           526892|       1780|        3 %|       250.7|
+-----------------+-----------+-----------+------------+

In [202]:
schema = 'obitos_acumulados STRING, casos_novos STRING, Letalidade* STRING, Mortalidade* STRING'

In [204]:
schema = StructType()\
    .add("obitos_acumulados", "string")\
    .add("casos_novos", "string")\
    .add("Letalidade*", "string")\
    .add("Mortalidade", "string")\

In [205]:
df_topic_obitos = spark.readStream.schema(schema).csv(stage_path + '/obitos_confirmados/*.csv')

In [209]:
# Salvando a terceira visualização em um tópico no Kafka
(
    df_topic_obitos
    .writeStream
    .format("kafka")
    .option("kafka.bootstrap.servers", "kafka:9092")
    .option("topic", "topic-obitos-output")
    .option("checkpointLocation", "/user/elvis/projeto-covid/kafka/kafka_checkpoint")
    .start() 
)

In [210]:
!hdfs dfs -ls /user/elvis/projeto-covid/kafka/kafka_checkpoint

Found 4 items
drwxr-xr-x   - root supergroup          0 2022-08-08 02:06 /user/elvis/projeto-covid/kafka/kafka_checkpoint/commits
-rw-r--r--   3 root supergroup         45 2022-08-08 02:06 /user/elvis/projeto-covid/kafka/kafka_checkpoint/metadata
drwxr-xr-x   - root supergroup          0 2022-08-08 02:06 /user/elvis/projeto-covid/kafka/kafka_checkpoint/offsets
drwxr-xr-x   - root supergroup          0 2022-08-08 02:06 /user/elvis/projeto-covid/kafka/kafka_checkpoint/sources

### 7. Criar a visualização pelo Spark com os dados enviados para o HDFS:

In [98]:
# Criando a visualização pelo Spark com os dados enviados para o HDFS:
(
    df_covid
    .groupBy('regiao', 'data')
    .agg(
        format_number(sum(col('casosAcumulado')), 0).alias("Casos"), 
        format_number(sum(col('obitosAcumulado')), 0).alias("Óbitos"),
        format_number(sum(col('casosAcumulado')) / (sum(col('populacaoTCU2019')) / 100000), 1).alias('incidencia'),
        format_number(sum(col('obitosAcumulado')) / (sum(col('populacaoTCU2019')) / 100000), 1).alias('mortalidade')
    )
    .orderBy(col('data').desc())
    .select('regiao', "Casos", "Óbitos", col('incidencia').alias("Incidência/100mil hab."), col('mortalidade').alias('Mortalidade/100mil hab'))
    .limit(6)
    .toPandas()
)

,regiao,Casos,Óbitos,Incidência/100mil hab.,Mortalidade/100mil hab
0,Norte,"3,465,630","87,690","9,401.6",237.9
1,Nordeste,"8,911,474","215,648","7,807.3",188.9
2,Centro-Oeste,"3,833,238","98,414","11,760.5",301.9
3,Sudeste,"14,277,606","490,622","8,078.2",277.6
4,Sul,"7,222,082","161,410","12,046.4",269.2
5,Brasil,"18,855,015","526,892","8,972.3",250.7

In [211]:
df_covid.columns

['regiao',
 'estado',
 'municipio',
 'coduf',
 'codmun',
 'codRegiaoSaude',
 'nomeRegiaoSaude',
 'data',
 'semanaEpi',
 'populacaoTCU2019',
 'casosAcumulado',
 'casosNovos',
 'obitosAcumulado',
 'obitosNovos',
 'Recuperadosnovos',
 'emAcompanhamentoNovos',
 'interior/metropolitana']